<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Project Name -
			{% block title %}{% endblock %}
		</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		{% block css %}{% endblock %}
	</head>
	<body>
        Hello {{var}}
        <section class="content">
            {% block content %}{% endblock %}
        </section>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
        <script></script>
		{% block javascripts %}{% endblock %}
	</body>
	</body>
